
#react-app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.redoc.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.highlight {
  background-color: yellow;
}
