
html, body {
  font-size: 16px;
}

#react-app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.redoc.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.highlight {
  background-color: yellow;
}

.redoc.overlay {
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
  cursor: pointer;
}

.redoc.profile-image {
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.redoc.profile-image img {
  width: 100%;
}

.redoc.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100;
}

.redoc.spinner {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border-width: 3px;
  border-style: solid;
  border-color: @black80 @black80 transparent transparent;
  animation: spinner 1.2s infinite linear;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
