.redoc.control.search {
  display: flex;
  position: relative;
  border: 1px solid @black10;
  background-color: @white;
}

.redoc.control.search .icon {
  flex: 0 0 auto;
  padding: 5px 5px 5px 10px;
}

.redoc.control.search input {
  position: relative;
  flex: 1 1 auto;
  padding: 0 10px 0 30px;
  height: 100%;
  border: none;
  background-color: transparent;
  z-index: 1;
}

.redoc.control.search .btn {
  margin: 0;
  border: 0;
  border-radius: 0;
  height: 100%;
  z-index: 1;
}

.redoc.control .icon {
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 0;
}

.redoc.control .icon.left {
  left: 0;
}

.redoc.control .icon.right {
  right: 15px;
}

.redoc.control.select {
  border: 1px solid @black10;
  background-color: @white;
  position: relative;
}

.redoc.control.select select {
  position: relative;
  padding: 0 40px 0 20px;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  z-index: 1;
}

.redoc.control {
  display: flex;
  align-items: center;
  height: 36px;
  border-radius: 18px;
}
