.redoc.search-results {

}

.redoc.search-results > ul {
  list-style: none;
  padding: 0;
}

.redoc.search-results > ul > li {
  margin-bottom: 30px;
}

.redoc.search-results > ul > li > a {
  color: inherit;
}

.redoc.search-results > ul > li > a:hover {

}

.redoc.search-results > ul > li > a > strong {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 10px;
}
